<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Brew Kennel</a>
        <button class="navbar-toggler" type="button" name="navbarToggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="navbar-collapse collapse">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/brews" routerLinkActive="active">Brews</a>
            </div>
        </div>
    </div>
</nav>
